body {
    background-color: black;
}

h1 {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

li {
    color: white;
    font-family: Courier, monospace;
}

ul li {
    padding: 2px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}